@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --bs-body-bg: rgb(242, 242, 242); /* Set the desired grey color */
}

[data-bs-theme="dark"] {
  --bs-body-bg: #212529; /* Set the desired grey color for dark theme */
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
li,
ol {
    text-decoration: none;
    list-style: none;
}
